
<!DOCTYPE html>
<html>
    <head>
        <%- include('header', {title: 'Profile'}) %>
    </head>

    <body>
        <%- include('navbar', {active: 'profile'}) %>

        <main class="d-flex flex-column">
            <div class="container">
                <div class="w-100 d-flex justify-content-center">
                    <div class="welcome-card welcome-width my-5 pb-4">
                        <div class="d-flex justify-content-center">
                            <form method="POST" action="/user/<%= user.id %>/modify">
                                <div class="text-center pb-3">
                                    <h1>Profile</h1>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-append">
                                        <span class="input-group-text w-40"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" name="" class="form-control input_user" value="<%= user.username %>" placeholder="username" disabled>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-append">
                                        <span class="input-group-text w-40"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" name="" class="form-control input_user" value="<%= user.name %>" placeholder="name">
                                </div>
                                <div class="input-group flex-row">
                                    <div class="input-group-append">
                                        <span class="input-group-text w-40"><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <input type="text" name="" class="form-control input_user" value="<%= user.email %>" placeholder="email">
                                </div>
                                <div class="d-flex flex-row justify-content-around">
                                    <div class="text-center pt-3">
                                        <button type="submit" name="button" class="btn login_btn w-100">Update</button>
                                    </div>
                                    <div class="text-center pt-3">
                                        <a type="button" name="button" class="btn login_btn w-100" href="/user/<%= user.id %>/delete">Delete profile</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="W-100 d-flex justify-content-center pb-5">
                    <div class="welcome-card rented-movies p-2">
                        <div class="text-center">
                            <h1>Rented Movies</h1>
                        </div>
                        <table class="table table-borderless table-striped px-2 table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col" class="text-center">Unrent</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% usermovies.forEach((movie) => { %>
                                    <tr>
                                        <td scope="col">
                                            <a href="movie/<%= movie.id %>"><%= movie.title %></a>
                                        </td>
                                        <td scope="col" class="text-center">
                                            <a href><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                <% }); %>                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
