
<!DOCTYPE html>
<html>
    <head>
        <%- include('header', {title: 'Modify'}) %>
    </head>

    <body>
        <%- include('navbar', {active: ''}) %>

        <main class="d-flex flex-column">
            <div class="container">
                <% if (typeof movie !== 'undefined') { %>
                    <form method="POST" action="/movie/<%= movie.id %>/modify">
                <% } else { %>
                    <form method="POST" action="/movie/new">
                <% } %>
                    <div class="W-100 d-flex justify-content-center pb-5">
                        <div class="welcome-card rented-movies p-5 mt-5">
                            <div class="pb-3 text-center">
                                <h3>
                                    <%= typeof movie === 'undefined' ? 'Save new movie' : 'Modify movie' %>
                                </h3>
                            </div>
                            <table class="table table-borderless table-striped px-2">
                                <tbody>
                                    <tr>
                                        <td scope="col" class="text-right">
                                            Title
                                        </td>
                                        <td scope="col" class="text-left">
                                            <input type="text" name="title" class="form-control" value="<%= typeof movie === 'undefined' ? '' : movie.title %>">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="text-right">
                                            Directed by
                                        </td>
                                        <td scope="col" class="text-left">
                                            <input type="text" name="directedby" class="form-control" value="<%= typeof movie === 'undefined' ? '' : movie.directedby %>">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="text-right">
                                            Year
                                        </td>
                                        <td scope="col" class="text-left">
                                            <input type="text" name="year" class="form-control" value="<%= typeof movie === 'undefined' ? '' : movie.year %>">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="text-right">
                                            Category
                                        </td>
                                        <td scope="col" class="text-left">
                                            <input type="text" name="category" class="form-control" value="<%= typeof movie === 'undefined' ? '' : movie.category %>">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="text-right">
                                            Cast
                                        </td>
                                        <td scope="col" class="text-left">
                                            <textarea class="form-control" name="cast">
                                                <%_ if (typeof movie !== 'undefined') { _%>
                                                    <%_ movie.cast.forEach((actor) => { _%><%= actor %>
                                                    <%_ }) _%>
                                                <%_ } _%>
                                            </textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="text-right">
                                            Available
                                        </td>
                                        <td scope="col" class="text-left">
                                            <input type="text" name="available" class="form-control" value="<%= typeof movie === 'undefined' ? '' : movie.available %>">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="text-right">
                                            Image
                                        </td>
                                        <td scope="col" class="text-left">
                                            <div class="custom-file">
                                                <input type="file" name="image" class="custom-file-input" id="customFile" value="<%= typeof movie === 'undefined' ? '' : movie.image %>">
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                              </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="d-flex flex-row justify-content-around">
                                <div class="text-center pt-3">
                                    <button type="submit" name="button" class="btn login_btn w-100">Save</a>
                                </div>
                                <div class="text-center pt-3">
                                    <% if (typeof movie !== 'undefined') { %>
                                        <a type="button" name="button" class="btn login_btn w-100" href="/movie/<%= movie.id %>/delete">Delete</a>
                                    <% } else { %>
                                        <a type="button" name="button" class="btn login_btn w-100" href="/movie">Cancel</a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>
